<!--Calculator-->
<h2>Stats Calculator</h2>
<section>
    <div class="custom-select">
        <label for="gem1">Gem 1</label>
        <select name="gem1" id="gem1" onchange="calculateStats()">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
    <div class="custom-select">
        <label for="gem2">Gem 2</label>
        <select name="gem2" id="gem2" onchange="calculateStats()">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
    <div class="custom-select">
        <label for="gem3">Gem 3</label>
        <select name="gem3" id="gem3" onchange="calculateStats()">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
</section>
<section>
    <div class="custom-select">
        <label for="gemSet">Gem set</label>
        <select name="gemSet" id="gemSet" onchange="calculateStats()">
            <option selected>None/Broken...</option>
            <option value="HP">Life (HP +20%)</option>
            <option value="ATK">Valor (ATK +20%)</option>
            <option value="DEF">Protection (DEF +20%)</option>
            <option value="CD">Ruin (CD +40%)</option>
            <option value="CR">Intuition (CR +20%)</option>
            <option value="REC">Vitality (REC +25%)</option>
        </select>
    </div>
    <div class="custom-select">
        <label for="AggrCS">Special skill</label>
        <select name="AggrCS" id="AggrCS" onchange="calculateStats()">
            <option value="normal" selected>Normal</option>
            <option value="CS">Corageous Striker</option>
            <option value="US">Unflinching Striker</option>
            <option value="HPaggr">HP Aggr</option>
            <option value="DEFaggr">DEF Aggr</option>
        </select>
    </div>

</section>

<!-- Show Stats -->
<table class="mat-table">
    <thead class="mat-header-row">
        <th class="mat-header-cell">lv 60 Stats</th>
        <th class="mat-header-cell">Base</th>
        <th class="mat-header-cell">Gems</th>
        <th class="mat-header-cell">With gems</th>
    </thead>
    <tr class="mat-row">
        <th class="mat-cell">HP</th>
        <td class="mat-cell hp-cell" id="baseHP">{{astromon.hp}}</td>
        <td class="mat-cell hp-cell" id="gemHP">+ 0</td>
        <td class="mat-cell hp-cell" id="buildHP">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">eHP</th>
        <td class="mat-cell" id="baseeHP">0</td>
        <td class="mat-cell" id="gemeHP">+ 0</td>
        <td class="mat-cell" id="buildeHP">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">ATK</th>
        <td class="mat-cell atk-cell" id="baseATK">{{astromon.atk}}</td>
        <td class="mat-cell atk-cell" id="gemATK">+ 0</td>
        <td class="mat-cell atk-cell" id="buildATK">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">DMG on crit</th>
        <td class="mat-cell" id="basecrATK">0</td>
        <td class="mat-cell" id="gemcrATK">+ 0</td>
        <td class="mat-cell" id="buildcrATK">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">DEF</th>
        <td class="mat-cell def-cell" id="baseDEF">{{astromon.def}}</td>
        <td class="mat-cell def-cell" id="gemDEF">+ 0</td>
        <td class="mat-cell def-cell" id="buildDEF">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">dmg block</th>
        <td class="mat-cell" id="baseDmgB">0 %</td>
        <td class="mat-cell" id="gemDmgB">+ 0 %</td>
        <td class="mat-cell" id="buildDmgB">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">REC</th>
        <td class="mat-cell rec-cell" id="baseREC">{{astromon.rec}}</td>
        <td class="mat-cell rec-cell" id="gemREC">+ 0</td>
        <td class="mat-cell rec-cell" id="buildREC">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">Active heal</th>
        <td class="mat-cell" id="baseHeal">{{astromon.rec * 4.5}}</td>
        <td class="mat-cell" id="gemHeal">+ 0</td>
        <td class="mat-cell" id="buildHeal">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">Crit Dmg</th>
        <td class="mat-cell cd-cell" id="baseCD">{{astromon.cd *100}} %</td>
        <td class="mat-cell cd-cell" id="gemCD">+ 0 %</td>
        <td class="mat-cell cd-cell" id="buildCD">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">Crit Rate (150% max)</th>
        <td class="mat-cell cr-cell" id="baseCR">{{astromon.cr *100}} %</td>
        <td class="mat-cell cr-cell" id="gemCR">+ 0 %</td>
        <td class="mat-cell cr-cell" id="buildCR">-</td>
    </tr>
    <tr class="mat-row">
        <th class="mat-cell">Resist (85% max)</th>
        <td class="mat-cell rest-cell" id="baseRES">{{astromon.rest *100}} %</td>
        <td class="mat-cell rest-cell" id="gemRES">+ 0 %</td>
        <td class="mat-cell rest-cell" id="buildRES">-</td>
    </tr>
</table>
