<!--Calculator-->
<div class="card-header">Stats Calculator</div>
<div class="card-body">
    <div class="col mb-1 input-group hover">
        <div class="input-group-prepend">
            <label class="input-group-text" for="gem1">Gem 1</label>
        </div>
        <select onchange="calculateStats()" id="gem1" class="custom-select">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
    <div class="col mb-1 input-group hover">
        <div class="input-group-prepend">
            <label class="input-group-text" for="gem2">Gem 2</label>
        </div>
        <select onchange="calculateStats()" id="gem2" class="custom-select">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
    <div class="col mb-1 input-group hover">
        <div class="input-group-prepend">
            <label class="input-group-text" for="gem3">Gem 3</label>
        </div>
        <select onchange="calculateStats()" id="gem3" class="custom-select">
            <option selected>None/Choose...</option>
            <option value="HP">HP +68%</option>
            <option value="ATK">ATK +68%</option>
            <option value="DEF">DEF +68%</option>
            <option value="CD">CD +70%</option>
            <option value="CR">CR +54%</option>
            <option value="REC">REC +68%</option>
        </select>
    </div>
    <div class="col mb-1 input-group hover">
        <div class="input-group-prepend">
            <label class="input-group-text" for="gemSet">Set</label>
        </div>
        <select onchange="calculateStats()" id="gemSet" class="custom-select">
            <option selected>None/Broken...</option>
            <option value="HP">Life (HP +20%)</option>
            <option value="ATK">Valor (ATK +20%)</option>
            <option value="DEF">Protection (DEF +20%)</option>
            <option value="CD">Ruin (CD +40%)</option>
            <option value="CR">Intuition (CR +20%)</option>
            <option value="REC">Vitality (REC +25%)</option>
        </select>
    </div>
    <div class="col mb-1 input-group hover">
        <div class="input-group-prepend">
            <label class="input-group-text" for="AggrCS">Aggr/CS</label>
        </div>
        <select onchange="calculateStats()" id="AggrCS" class="custom-select">
            <option value="normal" selected>Normal</option>
            <option value="CS">Corageous Striker</option>
            <option value="US">Unflinching Striker</option>
            <option value="HPaggr">HP Aggr</option>
            <option value="DEFaggr">DEF Aggr</option>
        </select>
    </div>
    <!-- Show Stats -->

    <table #tableCalc class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>lv 60 Stats</th>
                <th>Base</th>
                <th>With gems</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background:#bf545a">
                <th>HP (eHP)</th>
                <td id="baseHP">{{astromon.hp}}</td>
                <td id="buildHP" class="h6">{{astromon.hp}}</td>
            </tr>
            <tr style="background:#4b87ac">
                <th>ATK (on crit)</th>
                <td id="baseATK">{{astromon.atk}} </td>
                <td id="buildATK" class="h6">{{astromon.atk}}</td>
            </tr>
            <tr style="background:#e88943">
                <th>DEF (dmg block)</th>
                <td id="baseDEF">{{astromon.def}} </td>
                <td id="buildDEF" class="h6">{{astromon.def}}</td>
            </tr>
            <tr style="background:#789b59">
                <th>REC (heal)</th>
                <td id="baseREC">{{astromon.rec}} </td>
                <td id="buildREC" class="h6">{{astromon.rec}}</td>
            </tr>
            <tr style="background:#b0b0b0">
                <th>Crit Dmg</th>
                <td id="baseCD">{{astromon.cd *100}} %</td>
                <td id="buildCD" class="h6">{{astromon.cd *100}} %</td>
            </tr>
            <tr style="background:#8a58a9">
                <th>Crit Rate</th>
                <td id="baseCR">{{astromon.cr *100}} %</td>
                <td id="buildCR" class="h6">{{astromon.cr *100}} %</td>
            </tr>
            <tr style="background:#fbc500">
                <th>Resist (85% max)</th>
                <td id="baseRES">{{astromon.rest *100}} %</td>
                <td id="buildRES" class="h6">{{astromon.rest *100}} %</td>
            </tr>
        </tbody>
    </table>
</div>