<article>

    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Shiva L">

            <app-shiva-l></app-shiva-l>

        </mat-tab>

        <mat-tab label="Merlin D">

            <app-merlin-d></app-merlin-d>

        </mat-tab>

        <mat-tab label="Hohenheim L">

            <app-hohenheim-l></app-hohenheim-l>

        </mat-tab>

        <mat-tab label="Boltwing L">

            <app-boltwing-l></app-boltwing-l>

        </mat-tab>

        <mat-tab label="Beatel D">

            <app-beatel-d></app-beatel-d>

        </mat-tab>

        <mat-tab label="Siegfried L">

            <app-siegfried-l></app-siegfried-l>

        </mat-tab>

        <mat-tab label="Emperato D">

            <app-emperato-d></app-emperato-d>

        </mat-tab>

    </mat-tab-group>

</article>