<article class="row">

    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="English">
            <section id="eng" role="tabpanel" aria-labelledby="eng-tab" class="tab-pane fade show active p-2">
                <h1>About this website</h1>
                <p>This website is purely a contribution to the MSL community.</p>
                
                <h1>Features</h1>
                <h2>Astroguide (DB)</h2>
                <p> The site lists all aqstromon currently available in the game, which includes their basic
                    information and gem stats. </p>
                <h3>Sorting &amp; Filtering</h3>
                <p> You can sort and filter the astromon chart by name, nat, element, type of combat, skills
                    and statistics, just click on the corresponding heading or type below it. </p>
                <h3>Astromon Details</h3>
                <p> Clicking "Details" below the astromon icon will take you to a page with detailed data
                    such as base stats, skills, tier list and stats with equipped gems. </p>
                <h4>Details: Build tab</h4>
                <p> The numbers are derived from the maximum stats of the astromon at level 60 or superevo
                    and the improvements coming from the gems 6* +15: </p>
                <p>
                    <li> HP: Total health after gems: base_HP + (base_HP * (equiped gems + gem set)). </li>
                    <li> DEF: Total Defense after gems: base_DEF + (base_HP * (equiped gems + gem set)). </li>
                    <li> dmg block: Damage mitigation, after gems: Total DEF / (Total DEF + 1200). </li>
                    <li> eHP: Effective Healt is the term commonly used in games to describe how 'tanky' a
                        particular actor/hero/monster is. Which is basically the actual health a monster have multiplied
                        by
                        all damage
                        reduction effects that monster have active at the time. A simple way of explaining what is EHP
                        can
                        be taken
                        from this example, a monster that has 100k damage will need, quite literally 5 hits to kill a
                        monster with
                        500k EHP, it does not matter what buff or defenses the target monster has, because it's already
                        included in
                        it's EHP calculation; which differs when we talk about HP, a monster with 10k damage doesn't
                        necessarily mean
                        that the mon needs five hits to kill a 50k HP monster, that highly depends on what damage
                        reduction
                        effects
                        the target monster has at the time, from defense values to buffs. EHP is the direct numerical
                        representation
                        of how 'tanky' a monster is when it comes to what it takes to kill it.: Total HP / (1 – dmg
                        block).
                    </li>
                    <li> ATK: Average damage (100%) done by the astromon, does NOT include factors such as
                        astromon's element advantage, passive skills and the 5.5 attack multiplier: base_ATK + (base_ATK
                        *
                        (equiped
                        gems + gem set)). </li>
                    <li> CS Dmg: Total Damage Multiplier (depends on enemie max HP) after gems: Total ATK * 6.
                    </li>
                    <li> US Dmg: Total Damage Multiplier (depends on enemie max HP) after gems: Total ATK * 4.
                    </li>
                    <li> HP Aggr Dmg: Total Damage Multiplier after gems (depends on own total HP): Total HP *
                        0.3. </li>
                    <li> DEF Aggr Dmg: Total Damage Multiplier after gems (depends on own total DEF): Total
                        DEF * 4. </li>
                    <li>Crit Dmg: Total Critical Damage Multiplier.</li>
                    <li>Crit Rate: Probability of performing a critical attack.</li>
                    <li> DMG on Crit: Damage this astromon could deal whenever it crits. after gems: (CD *
                        total ATK) + total ATK. </li>
                    <li> Resist: Probability of resisting the effect of an enemy ability, 85% is the maximum
                        resistance that an astromon can have all excess is ignored (90% =&gt; 85%) </li>
                </p>
                <hr>
                <h1>Credits:</h1>
                <p> Goes to <a href="https://www.reddit.com/user/smithjez" target="_blank" rel="noopener">smithjez</a>
                    and
                    the <a
                        href="https://www.reddit.com/r/MSLGame/search?q=flair_name%3A%22Theorycraft%22&amp;restrict_sr=1"
                        target="_blank" rel="noopener">MSL-Theorycraft reddit community</a> for the <a
                        href="https://imgur.com/fJgMSEY" target="_blank" rel="noopener">damage calculation chart </a>,
                    Damage
                    Reduction and eHP formulas. </p>
                <p><a href="https://www.youtube.com/channel/UCP6fPp_kVHlxPgP8vyVMeag" target="_blank"
                        rel="noopener">Nesttea</a> for sharing his <a
                        href="https://www.reddit.com/r/MSLGame/comments/9i54r0/tierlist_10/" target="_blank"
                        rel="noopener">Tier
                        list</a>. </p>
                <p> To <a href="https://www.reddit.com/r/MSLGame" target="_blank" rel="noopener">MSL community</a> for
                    sharing their guides and team compositions for Golems, Dragon, Collosus
                    and Titan. </p>
            </section>
        </mat-tab>

        <mat-tab label="Español">
            <section id="esp" role="tabpanel" aria-labelledby="esp-tab" class="tab-pane fade p-2">
                <div>
                    <h1>Acerca del sitio</h1>
                    <p> Este sitio web es una contribución a la comunidad de MSL, esta basado en el ya muerto
                        <a href="https://www.youtube.com/watch?v=ZouVbIscX5w" target="_blank"
                            rel="noopener">nest-dbMSL</a>
                        de nicordt, más una compilación de guías de diferentes personas.</p>
                    <p>En el encontraras guías para mazmorras y titanes, datos sobre los astromon yuna forma
                        de valorar tus gemas.</p>
                    <p> Notifíqueme sobre cualquier información inexacta que se muestre en el sitio, no me
                        gusta poner xcusas, pero hasta ahora este ha sido un trabajo de un solo hombre y agradecería
                        cualquier
                        corrección, comentario o sugerencia que pueda tener. </p>
                    <p> Podrás encontrarme en <a href="https://www.reddit.com/user/addictivoh" target="_blank"
                            rel="noopener">reddit</a> para sugerir
                        cualquier mejora o cambio en el sitio. </p>
                    <hr>
                    <h2>Características</h2>
                    <p> La astroguía tiene todos los astros actuales del juego, incluye los datos que
                        encontrarías en la astroguía dentro del juego más estadísticas con gemas equipadas. </p>
                    <h3>Filtrado y ordenamiento</h3>
                    <p> Puedes ordenar y filtrar la tabla de astromon por nombre, nat, elemento, tipo de
                        combate, habilidades y estadísticas, solo da un clic en el encabezado correspondiente o escribe
                        debajo de él.
                    </p>
                    <h3>Más detalles</h3>
                    <p> Al hacer clic a "Details" debajo del icono del astrmon, te llevara a una pagina con
                        datos detallados como estadísticas base, habilidades, tier list y estadísticas con gemas
                        equipadas.
                    </p>
                    <h4>Calculadora de estadísticas con gemas</h4>
                    <p> Los números se derivan de las estadísticas maximas del astromon en nivel 60 o superevo
                        y las mejoras provenientes de gemas porcentuales 6* +15: </p>
                    <p>
                        <li> HP: Vida total, proveniente de las estadísticas base del astromon + gemas. </li>
                        <li> DEF: Defensa total, proveniente de las estadísticas base del astromon + gemas.
                        </li>
                        <li> dmg block: Reducción de daño, se obtiene con la formula: defensa total / (defensa
                            total + 1200). </li>
                        <li> eHP: Es el termino usado en juegos para describir que tan “tanque” es un personaje,
                            cantidad de daño que se necesita para matarlo. Que es básicamente la salud real que tiene un
                            monstruo,
                            multiplicado por todos los efectos de reducción de daño que el monstruo tiene activo en ese
                            momento. Se
                            obtiene de la formula: Hp total / (1 – dmg block). </li>
                        <li> ATK: Daño potencial hecho por el astromon, NO incluye factores como ventaja de
                            elemento del astromon,multiplicador 5.5 de ataque de las animaciones ni pasivas de
                            habilidades
                            execpto por:
                        </li>
                        <li> CS: Daño Total hecho por la habilidad "Ataque valiente": Total ATK * 6. </li>
                        <li> US: Daño total hecho por la habilidad "Golpe inescapable ": Total ATK * 4. </li>
                        <li> HP Aggr: Daño total (depende de la vida total propia): Total HP * 0.3. </li>
                        <li> DEF Aggr: Daño total (depende de la defensa total propia): Total DEF * 4. </li>
                        <li> Crit Dmg: Multiplicador de daño que se aplica cuando se realiza un golpe crítico
                            proveniente de las estadísticas base del astromon + gemas. </li>
                        <li> Crit Rate: Probabilidad de realizar un ataque crítico, proveniente de las
                            estadísticas base del astromon + gemas. </li>
                        <li> DMG on Crit: Daño total teniendo en cuenta el multiplicador total de daño crítico:
                            ATK total * CD. </li>
                        <li> Resist: Probabilidad de resistir el efecto de una habilidad enemiga, 85% es la
                            maxima probabilidad que se puede obtener todo el exceso es ignorado (90% =&gt; 85%),
                            proveniente
                            de las
                            estadísticas base del astromon y gemas. </li>
                    </p>
                    <p> Todos los cálculos son dinámicos y realizados por el código. La mayoría de ellos
                        proviene de la comunidad reddit, y ha sido resumida por smithjez, por lo que todos los créditos
                        relacionados
                        con las pruebas realizadas y, en general, la forma en que se calculan las cosas van para el.
                    </p>
                    <hr>
                    <h1>Creditos a:</h1>
                    <p><a href="https://www.reddit.com/user/smithjez" target="_blank" rel="noopener">smithjez</a> y la
                        <a href="https://www.reddit.com/r/MSLGame/search?q=flair_name%3A%22Theorycraft%22&amp;restrict_sr=1"
                            target="_blank" rel="noopener">comunidad de "Theorycraft" en reddit</a>, por las <a
                            href="https://imgur.com/fJgMSEY" target="_blank" rel="noopener">formulas de daño</a>,
                        reducción
                        de daño y
                        eHP. </p>
                    <p><a href="https://www.youtube.com/channel/UCP6fPp_kVHlxPgP8vyVMeag" target="_blank"
                            rel="noopener">Nesttea</a>
                        por hacer y compartir su <a href="https://www.reddit.com/r/MSLGame/comments/9i54r0/tierlist_10/"
                            target="_blank" rel="noopener">Tier
                            list</a>. </p>
                    <p> La <a href="https://www.reddit.com/r/MSLGame" target="_blank" rel="noopener">comunidad de
                            MSL</a>
                        por compartir sus guías y formaciones de equipo para mazmorras, colosos
                        y titan. </p>
                </div>
            </section>
        </mat-tab>

        <mat-tab label="Version">
            <h2>Last update</h2>
            <b>2020.09.24</b>
            <p>Cernunnos added and balance updates</p>
        </mat-tab>

    </mat-tab-group>

</article>
