<div class="titan-card">

  <div class="card-column-1">
    <div class="card-stats">
      <h1>Titan de Agua</h1>
      <div class="badge badge-pill d-inline-flex align-items-center hover hp"> HP:
        +3000000 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover atk"> ATK:
        2700 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover def"> DEF:
        1200 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover rec"> REC:
        20000 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover cd"> CD:
        50% </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover cr"> CR:
        10% </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover res"> RES:
        5% </div>
    </div>
    <div class="card-icons">
      <img src="assets/img/titan/boss_titan_b.png" alt="Water titan" class="d-inline responsive">
    </div>
    <div class="card-skill">
      <div class="mslcard">
        <div class="d-inline">
          <img src="assets/img/skill/Seal.png" alt="Seal" width="40" class="d-inline responsive">
          <h3 class="d-inline"> Seal <span class="badge hp badge-pill">Grupo (4)</span></h3>
          <div class="mslcard-focus skill">
            <b>Probabilidad del 80% de aplicar sello por 2 turnos.</b>
          </div>
        </div>
      </div>
      <div class="mslcard">
        <div class="d-inline">
          <img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40" class="d-inline responsive">
          <h3 class="d-inline"> Menos ataque <span class="badge hp badge-pill">Linea (8)</span></h3>
          <div class="mslcard-focus skill">
            <b>Probabilidad del 60% de aplicar Ataque menos por 2 turnos.</b>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card-column-2">

    <mat-accordion class="example-headers-align" multi>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Atacantes
          </mat-panel-title>
        </mat-expansion-panel-header>

        <section id="water-atk" role="tabpanel" aria-labelledby="water-atk-tab">
          <h4>Atacantes</h4>
          <div class="mslcard">
            <div class="d-inline">
              <img src="assets/img/astro/Mushi/MushiG3v.png" alt="Mushi" width="40" class="d-inline responsive">
              <h3 class="d-inline">Mushi</h3>
              <img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                class="d-inline responsive">
              <img src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40" class="d-inline responsive">
              <img src="assets/img/skill/Hunter.png" alt="Hunter" width="40" class="d-inline responsive">
              <a href="/MSL-Data-Nest/astroguide/MushiG" routerlink="/astroguide/MushiG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: ATK/ATK/TC | ATK/HP/TC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline">
              <img src="assets/img/astro/Fennec/FennecG3v.png" alt="Fennec" width="40" class="d-inline responsive">
              <h3 class="d-inline">Fennec</h3>
              <img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/FennecG" routerlink="/astroguide/FennecG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: ATK/HP/TC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Beth/BethG3.png" alt="Beth" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Beth</h3><img src="assets/img/skill/Predator.png" alt="Predator" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Predator.png" alt="Predator" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/BethG" routerlink="/astroguide/BethG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/ATK/TC | ATK/HP/TC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Jiangshi/JiangshiG3v.png" alt="Jiangshi" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Jiangshi</h3><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Sleep.png" alt="Sleep" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Unflinching Strike.png" alt="Unflinching Strike"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/JiangshiG"
                routerlink="/astroguide/JiangshiG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: ATK/HP/TC | ATK/ATK/TC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Mowgli/MowgliG3v.png" alt="Mowgli" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Mowgli</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png"
                alt="Hunter" width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png"
                alt="Predator" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MowgliG"
                routerlink="/astroguide/MowgliG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: ATK/HP/TC | ATK/ATK/TC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Anu/AnuG5v.png" alt="Anu" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Anu</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/AnuG" routerlink="/astroguide/AnuG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: ATK/ATK/tc | ATK/HP/TC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Sphinx/SphinxG3v.png" alt="Sphinx" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Sphinx</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Unflinching Strike.png" alt="Unflinching Strike"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/SphinxG"
                routerlink="/astroguide/SphinxG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Alpaca/AlpacaG3v.png" alt="Alpaca" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Alpaca</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Unflinching Strike.png" alt="Unflinching Strike"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/AlpacaG"
                routerlink="/astroguide/AlpacaG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Canna/CannaG3.png" alt="Canna" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Canna</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/CannaG"
                routerlink="/astroguide/CannaG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Pinolo/PinoloG3v.png" alt="Pinolo" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Pinolo</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                alt="Courageous Strike" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Unflinching Strike.png" alt="Unflinching Strike" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/PinoloG" routerlink="/astroguide/PinoloG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Griffin/GriffinG3v.png" alt="Griffin" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Griffin</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png"
                alt="Predator" width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png"
                alt="Predator" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GriffinG"
                routerlink="/astroguide/GriffinG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Thor/ThorG3v.png" alt="Thor" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Thor</h3><img src="assets/img/skill/leader/Protector's Shield.png"
                alt="Protector's Shield" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Blind.png" alt="Blind" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/ThorG" routerlink="/astroguide/ThorG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC | ATK/DC/TC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Garuda/GarudaG3v.png" alt="Garuda" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Garuda</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Weaken.png" alt="Weaken" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GarudaG"
                routerlink="/astroguide/GarudaG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Zhu Bajie/Zhu BajieG3v.png" alt="Zhu Bajie" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Zhu Bajie</h3><img src="assets/img/skill/leader/Grace of Life.png"
                alt="Grace of Life" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Blind.png" alt="Blind" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/Zhu%20BajieG"
                routerlink="/astroguide/Zhu BajieG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Merlin/MerlinG3.png" alt="Merlin" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Merlin</h3><img src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                alt="Courageous Strike" width="40" class="d-inline responsive"><a
                href="/MSL-Data-Nest/astroguide/MerlinG" routerlink="/astroguide/MerlinG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Enkidu/EnkiduG3v.png" alt="Enkidu" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Enkidu</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                alt="Courageous Strike" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Damage Reduction.png" alt="Damage Reduction" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/EnkiduG" routerlink="/astroguide/EnkiduG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Gilgamesh/GilgameshG3v.png" alt="Gilgamesh" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Gilgamesh</h3><img src="assets/img/skill/leader/Charging Stance.png"
                alt="Charging Stance" width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png"
                alt="Predator" width="40" class="d-inline responsive"><img src="assets/img/skill/Perservere.png"
                alt="Perservere" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GilgameshG"
                routerlink="/astroguide/GilgameshG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                  ATK/ATK/DC </p>
              </div>
            </div>
          </div>
        </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Curadores
          </mat-panel-title>

        </mat-expansion-panel-header>

        <section id="water-heal" role="tabpanel" aria-labelledby="water-heal-tab">
          <h4>Curadores</h4>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Grabag/GrabagG3.png" alt="Grabag" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Grabag</h3><img src="assets/img/skill/Sap.png" alt="Sap" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GrabagG" routerlink="/astroguide/GrabagG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Minicat/MinicatG3.png" alt="Minicat" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Minicat</h3><img src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MinicatG"
                routerlink="/astroguide/MinicatG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Hana/HanaG3.png" alt="Hana" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Hana</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/HanaG" routerlink="/astroguide/HanaG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Bast/BastG3v.png" alt="Bast" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Bast</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/BastG"
                routerlink="/astroguide/BastG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Bast/BastB3v.png" alt="Bast" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Bast</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Weaken.png" alt="Weaken" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/BastB" routerlink="/astroguide/BastB"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Cherry/CherryD3v.png" alt="Cherry" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Cherry</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40" class="d-inline responsive"><a
                href="/MSL-Data-Nest/astroguide/CherryD" routerlink="/astroguide/CherryD" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Venus/VenusD3.png" alt="Venus" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Venus</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/VenusD" routerlink="/astroguide/VenusD"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Baby Shark/Baby SharkW3v.png" alt="Baby Shark" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Baby Shark</h3><img src="assets/img/skill/leader/Grace of Life.png"
                alt="Grace of Life" width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                alt="Attack Down" width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Up.png"
                alt="Attack Up" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/Baby%20SharkW"
                routerlink="/astroguide/Baby SharkW" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Cherry/CherryW3v.png" alt="Cherry" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Cherry</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img src="assets/img/skill/Sap.png"
                alt="Sap" width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Up.png"
                alt="Defense Up" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/CherryW"
                routerlink="/astroguide/CherryW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Pixie/PixieW3v.png" alt="Pixie" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Pixie</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Vigor.png" alt="Vigor" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/PixieW" routerlink="/astroguide/PixieW"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Grabag/GrabagW3v.png" alt="Grabag" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Grabag</h3><img src="assets/img/skill/leader/Surging Vitality.png"
                alt="Surging Vitality" width="40" class="d-inline responsive"><img src="assets/img/skill/Adrenaline.png"
                alt="Adrenaline" width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Up.png"
                alt="Attack Up" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GrabagW"
                routerlink="/astroguide/GrabagW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/DEF/REC</p>
              </div>
            </div>
          </div>
        </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Debuffers
          </mat-panel-title>

        </mat-expansion-panel-header>

        <section id="water-debuff" role="tabpanel" aria-labelledby="water-debuff-tab">
          <h4>Debuffers</h4>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Squirrus/SquirrusG3v.png" alt="Squirrus" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Squirrus</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40" class="d-inline responsive"><a
                href="/MSL-Data-Nest/astroguide/SquirrusG" routerlink="/astroguide/SquirrusG" role="button"
                target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Roca/RocaG3v.png" alt="Roca" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Roca</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/RocaG"
                routerlink="/astroguide/RocaG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Phibian/PhibianG3v.png" alt="Phibian" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Phibian</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40" class="d-inline responsive"><a
                href="/MSL-Data-Nest/astroguide/PhibianG" routerlink="/astroguide/PhibianG" role="button"
                target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Radis/RadisG3.png" alt="Radis" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Radis</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/RadisG" routerlink="/astroguide/RadisG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Mari/MariG3.png" alt="Mari" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Mari</h3><img src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MariG" routerlink="/astroguide/MariG"
                role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Lupin/LupinG3v.png" alt="Lupin" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Lupin</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/LupinG"
                routerlink="/astroguide/LupinG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Leo/LeoG5v.png" alt="Leo" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Leo</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/LeoG"
                routerlink="/astroguide/LeoG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Verde/VerdeG3v.png" alt="Verde" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Verde</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                alt="Fighting Spirit" width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                alt="Attack Down" width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png"
                alt="Defense Down" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/VerdeG"
                routerlink="/astroguide/VerdeG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Sun Wukong/Sun WukongG3v.png" alt="Sun Wukong" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Sun Wukong</h3><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/Sun%20WukongG"
                routerlink="/astroguide/Sun WukongG" role="button" target="_blank"
                class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/astro/Sanzang/SanzangG3v.png" alt="Sanzang" width="40"
                class="d-inline responsive">
              <h3 class="d-inline">Sanzang</h3><img src="assets/img/skill/leader/Protector's Shield.png"
                alt="Protector's Shield" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40" class="d-inline responsive"><img
                src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40" class="d-inline responsive"><a
                href="/MSL-Data-Nest/astroguide/SanzangG" routerlink="/astroguide/SanzangG" role="button"
                target="_blank" class="badge atk badge-pill">Detalles</a>
              <div class="mslcard-focus">
                <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
              </div>
            </div>
          </div>
        </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Equipos
          </mat-panel-title>

        </mat-expansion-panel-header>

        <section id="water-lineup" role="tabpanel" aria-labelledby="water-lineup-tab">
          <div class="mslcard">
            <div class="d-inline">
              <img src="assets/img/titan/TB01.png" alt="TB01" class="responsive">
              <div class="mslcard-focus">
                <p>Daño: ?M</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB02.png" alt="TB02"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: +20M</p><a href="https://youtu.be/YtPvWDGOfqg" role="button" target="_blank"
                  class="badge atk badge-pill">Video</a>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB03.png" alt="TB03"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: +25M</p><a href="https://youtu.be/IVPJDU5KHLI" role="button" target="_blank"
                  class="badge atk badge-pill">Video</a>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB04.png" alt="TB04"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: ?M</p>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB05.png" alt="TB05"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: +60M</p><a href="https://youtu.be/MyUuX87Pmik" role="button" target="_blank"
                  class="badge atk badge-pill">Video</a>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB06.png" alt="TB06"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: +100M</p><a href="https://youtu.be/ZSpvI57vWl0" role="button" target="_blank"
                  class="badge atk badge-pill">Video</a>
              </div>
            </div>
          </div>
          <div class="mslcard">
            <div class="d-inline"><img src="assets/img/titan/TB07.png" alt="TB07"
                class="responsive">
              <div class="mslcard-focus">
                <p>Daño: ?M</p>
              </div>
            </div>
          </div>
        </section>
      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>
