<article>
    <mat-form-field class="search-div">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        <button mat-button *ngIf="valuesearch" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> icon </th>
            <td mat-cell *matCellDef="let astromon" class="d-inline">
                <img src="assets/img/astro/{{astromon.name1}}/{{astromon.id}}1.png" class="img-fluid rounded-circle" width="40">
                <span class="badge atk badge-pill">{{astromon.rarity}}</span>
                <a routerLink="/astroguide/{{astromon.id}}" class="card" role="button">Details</a>
              </td>
        </ng-container>

        <ng-container matColumnDef="astromon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name1"> Name </th>
            <td mat-cell *matCellDef="let astromon">
                <p width=100%>{{astromon.name1}}
                  <br>{{astromon.name2}}
                  <br>{{astromon.name3}}
                </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="nat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nat </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.nat}} </td>
        </ng-container>

        <ng-container matColumnDef="element">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Element </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.element}} </td>
        </ng-container>

        <ng-container matColumnDef="leader">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leader </th>
            <td mat-cell *matCellDef="let astromon">
                {{astromon.lskilln}}<br><span class="badge atk badge-pill">{{astromon.lskillp}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="normal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Normal Skill </th>
            <td mat-cell *matCellDef="let astromon">
                {{astromon.nskilln}}<br>
                <span class="badge hp badge-pill">{{astromon.nskillc}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Skill </th>
            <td mat-cell *matCellDef="let astromon">
                {{astromon.askilln}}
                <br>
                <span class="badge hp badge-pill">{{astromon.askillc}}</span>
                <span class="badge atk badge-pill">{{astromon.askillt}}</span>
                <span class="badge rec badge-pill">{{astromon.askillh}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.battletype}} </td>
        </ng-container>

        <ng-container matColumnDef="hp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HP </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.hp  }} </td>
        </ng-container>

        <ng-container matColumnDef="atk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ATK </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.atk  }} </td>
        </ng-container>

        <ng-container matColumnDef="def">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DEF </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.def  }} </td>
        </ng-container>

        <ng-container matColumnDef="rec">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> REC </th>
            <td mat-cell *matCellDef="let astromon"> {{astromon.rec  }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" [pageSize]="15" showFirstLastButtons></mat-paginator>

</article>
