<div class="titan-card row">
    <div class="col-md-12 col-lg-4">
        <div class="card-stats col-12">
            <h3>Titan Oscuro</h3>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover hp"> HP:
                +3000000 </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover atk"> ATK:
                2000 </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover def"> DEF:
                1200 </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover rec"> REC:
                20000 </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover cd"> CD:
                100% </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover cr"> CR:
                10% </div>
            <div class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover res"> RES:
                5% </div>
        </div>
        <div class="card-icons col-12"><img src="assets/img/titan/boss_titan_d.png" alt="Water titan"
                class="d-inline w-100"></div>
        <div class="card-skill col-12">
            <div class="mslcard">
                <div class="d-inline mt-1"><img src="assets/img/skill/Silence.png" alt="Silence" width="40"
                        class="ml-2 mr-2 mt-1 d-inline">
                    <h6 class="d-inline"> Silencio <span class="badge badge-danger badge-pill">Grupo (4)</span></h6>
                    <div class="mslcard-focus skill"><b>Probabilidad del 80% de aplicar "Silencio" por 2 turnos.</b>
                    </div>
                </div>
            </div>
            <div class="mslcard">
                <div class="d-inline mt-1"><img src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                        class="ml-2 mr-2 mt-1 d-inline">
                    <h6 class="d-inline"> Menos defensa <span class="badge badge-danger badge-pill">Linea (8)</span>
                    </h6>
                    <div class="mslcard-focus skill"><b>Probabilidad del 60% de reducir la defensa por 2 turnos.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8">
        <nav>
            <div id="nav-tab" role="tablist" class="nav nav-tabs"><a id="oscuro-atk-tab" data-toggle="tab"
                    href="#oscuro-atk" role="tab" aria-controls="oscuro-atk" aria-selected="true"
                    class="nav-item nav-link active">Atacantes</a><a id="oscuro-heal-tab" data-toggle="tab"
                    href="#oscuro-heal" role="tab" aria-controls="oscuro-heal" aria-selected="false"
                    class="nav-item nav-link">Curadores</a><a id="oscuro-debuff-tab" data-toggle="tab"
                    href="#oscuro-debuff" role="tab" aria-controls="oscuro-debuff" aria-selected="false"
                    class="nav-item nav-link">Debuffers</a><a id="oscuro-lineup-tab" data-toggle="tab"
                    href="#oscuro-lineup" role="tab" aria-controls="oscuro-lineup" aria-selected="false"
                    class="nav-item nav-link">Ejemplos</a></div>
        </nav>
        <div id="nav-tabContent" class="tab-content">
            <section id="oscuro-atk" role="tabpanel" aria-labelledby="oscuro-atk-tab" class="tab-pane fade show active">
                <h4 class="mr-1 ml-1">Atacantes</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Siegfried/SiegfriedW3v.png"
                            alt="Siegfried" width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Siegfried</h6><img src="assets/img/skill/leader/Protector's Shield.png"
                            alt="Protector's Shield" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Courageous Strike.png"
                            alt="Courageous Strike" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SiegfriedW" routerlink="/astroguide/SiegfriedW"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Wendigo/WendigoW3v.png" alt="Wendigo"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Wendigo</h6><img src="assets/img/skill/leader/Deathblow.png"
                            alt="Deathblow" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Down.png"
                            alt="Attack Down" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/WendigoW" routerlink="/astroguide/WendigoW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Thor/ThorD3v.png" alt="Thor" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Thor</h6><img src="assets/img/skill/leader/Protector's Shield.png"
                            alt="Protector's Shield" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Courageous Strike.png"
                            alt="Courageous Strike" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ThorD" routerlink="/astroguide/ThorD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Chloe/ChloeD3v.png" alt="Chloe"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Chloe</h6><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Courageous Strike.png"
                            alt="Courageous Strike" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ChloeD" routerlink="/astroguide/ChloeD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Shinobi/ShinobiD3v.png" alt="Shinobi"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Shinobi</h6><img src="assets/img/skill/leader/Grace of Life.png"
                            alt="Grace of Life" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/SP Siphon.png" alt="SP Siphon" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png" alt="Hunter"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ShinobiD" routerlink="/astroguide/ShinobiD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Misha/MishaD3v.png" alt="Misha"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Misha</h6><img src="assets/img/skill/leader/Grace of Life.png"
                            alt="Grace of Life" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Vengeance.png" alt="Vengeance" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Vengeance.png"
                            alt="Vengeance" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MishaD" routerlink="/astroguide/MishaD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Rudolph/RudolphD2v.png" alt="Rudolph"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Rudolph</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png" alt="Hunter"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/RudolphD" routerlink="/astroguide/RudolphD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Colte/ColteD3v.png" alt="Colte"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Colte</h6><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Predator.png"
                            alt="Predator" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ColteD" routerlink="/astroguide/ColteD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Gatito/GatitoD3.png" alt="Gatito"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Gatito</h6><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png"
                            alt="Hunter" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/GatitoD" routerlink="/astroguide/GatitoD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Sura/SuraD3v.png" alt="Sura" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sura</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/HP Siphon.png" alt="HP Siphon" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png" alt="Hunter"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/SuraD"
                            routerlink="/astroguide/SuraD" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Mona/MonaD3v.png" alt="Mona" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mona</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png" alt="Hunter"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/MonaD"
                            routerlink="/astroguide/MonaD" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Mino/MinoD3.png" alt="Mino" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mino</h6><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Hunter.png"
                            alt="Hunter" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MinoD" routerlink="/astroguide/MinoD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Mowgli/MowgliD3.png" alt="Mowgli"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mowgli</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Predator.png"
                            alt="Predator" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MowgliD" routerlink="/astroguide/MowgliD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="oscuro-heal" role="tabpanel" aria-labelledby="oscuro-heal-tab" class="tab-pane fade">
                <h4 class="mr-1 ml-1">Curadores</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cotteen/CotteenR3.png" alt="Cotteen"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cotteen</h6><img src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CotteenR" routerlink="/astroguide/CotteenR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Mildeu/MildeuR3.png" alt="Mildeu"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mildeu</h6><img src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MildeuR" routerlink="/astroguide/MildeuR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Grabag/GrabagW3v.png" alt="Grabag"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Grabag</h6><img src="assets/img/skill/leader/Surging Vitality.png"
                            alt="Surging Vitality" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/GrabagW" routerlink="/astroguide/GrabagW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Minicat/MinicatG3.png" alt="Minicat"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Minicat</h6><img src="assets/img/skill/Expose Weakness.png"
                            alt="Expose Weakness" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/MinicatG"
                            routerlink="/astroguide/MinicatG" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Bast/BastG3v.png" alt="Bast" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Bast</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/BastG" routerlink="/astroguide/BastG" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cherry/CherryD3v.png" alt="Cherry"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cherry</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CherryD" routerlink="/astroguide/CherryD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Venus/VenusD3.png" alt="Venus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Venus</h6><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VenusD" routerlink="/astroguide/VenusD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Baby Shark/Baby SharkW3v.png"
                            alt="Baby Shark" width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Baby Shark</h6><img src="assets/img/skill/leader/Grace of Life.png"
                            alt="Grace of Life" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Baby%20SharkW" routerlink="/astroguide/Baby SharkW"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cupid/CupidW3v.png" alt="Cupid"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cupid</h6><img src="assets/img/skill/leader/Grace of Life.png"
                            alt="Grace of Life" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Attack Up.png"
                            alt="Attack Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CupidW" routerlink="/astroguide/CupidW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Pixie/PixieR3v.png" alt="Pixie"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Pixie</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Defense Up.png"
                            alt="Defense Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PixieR" routerlink="/astroguide/PixieR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC | HP/REC/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Hana/HanaG3.png" alt="Hana" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Hana</h6><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/HanaG"
                            routerlink="/astroguide/HanaG" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Bast/BastB3v.png" alt="Bast" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Bast</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Weaken.png" alt="Weaken" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Defense Up.png"
                            alt="Defense Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/BastB" routerlink="/astroguide/BastB" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cherry/CherryW3v.png" alt="Cherry"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cherry</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Defense Up.png"
                            alt="Defense Up" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CherryW" routerlink="/astroguide/CherryW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Mildeu/MildeuD3.png" alt="Mildeu"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mildeu</h6><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Shield.png"
                            alt="Shield" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MildeuD" routerlink="/astroguide/MildeuD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cura/CuraR3.png" alt="Cura" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cura</h6><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Shield.png"
                            alt="Shield" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CuraR" routerlink="/astroguide/CuraR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Venus/VenusW3.png" alt="Venus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Venus</h6><img src="assets/img/skill/Adrenaline.png" alt="Adrenaline"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Shield.png"
                            alt="Shield" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VenusW" routerlink="/astroguide/VenusW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/HP</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Cupid/CupidD3v.png" alt="Cupid"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cupid</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Aggression (HP).png" alt="Aggression (HP)" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Shield.png" alt="Shield"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CupidD" routerlink="/astroguide/CupidD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/HP</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Hana/HanaW3.png" alt="Hana" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Hana</h6><img src="assets/img/skill/Aggression (HP).png"
                            alt="Aggression (HP)" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Shield.png" alt="Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/HanaW"
                            routerlink="/astroguide/HanaW" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/HP</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="oscuro-debuff" role="tabpanel" aria-labelledby="oscuro-debuff-tab" class="tab-pane fade">
                <h4 class="mr-1 ml-1">Debuffers</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Otari/OtariD3v.png" alt="Otari"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Otari</h6><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Blind.png" alt="Blind"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/OtariD" routerlink="/astroguide/OtariD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Radis/RadisG3v.png" alt="Radis"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Radis</h6><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/RadisG"
                            routerlink="/astroguide/RadisG" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Indra/IndraB3v.png" alt="Indra"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Indra</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Courageous Strike.png"
                            alt="Courageous Strike" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/IndraB" routerlink="/astroguide/IndraB" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Phibian/PhibianG3v.png" alt="Phibian"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Phibian</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Defense Down.png"
                            alt="Defense Down" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PhibianG" routerlink="/astroguide/PhibianG" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Victoria/VictoriaB3v.png" alt="Victoria"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Victoria</h6><img src="assets/img/skill/leader/Fighting Spirit.png"
                            alt="Fighting Spirit" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Defense Down.png"
                            alt="Defense Down" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VictoriaB" routerlink="/astroguide/VictoriaB" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Seedler/SeedlerB3.png" alt="Seedler"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Seedler</h6><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/SeedlerB"
                            routerlink="/astroguide/SeedlerB" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Sherlock/SherlockW3.png" alt="Sherlock"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sherlock</h6><img src="assets/img/skill/leader/Critical Boost.png"
                            alt="Critical Boost" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img src="assets/img/skill/Expose Weakness.png"
                            alt="Expose Weakness" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SherlockW" routerlink="/astroguide/SherlockW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img src="assets/img/astro/Bulbie/BulbieD3.png" alt="Bulbie"
                            width="40" class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Bulbie</h6><img src="assets/img/skill/Expose Weakness.png"
                            alt="Expose Weakness" width="40" class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a href="/MSL-Data-Nest/astroguide/BulbieD"
                            routerlink="/astroguide/BulbieD" role="button" target="_blank"
                            class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="oscuro-lineup" role="tabpanel" aria-labelledby="oscuro-lineup-tab" class="tab-pane fade">
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img src="assets/img/titan/TD01.png" alt="TD01"
                            class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: +60M</p><a href="https://youtu.be/aKBdgGEE3Ew" role="button"
                                target="_blank" class="btn btn-info btn-sm">Video</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>