<div class="titan-card row">
    <div class="col-md-12 col-lg-4">
        <div class="card-stats col-12">
            <h3>Titan de Leña</h3>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover hp"> HP:
                +3000000 </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover atk"> ATK:
                2700 </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover def"> DEF:
                1200 </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover rec"> REC:
                20000 </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover cd"> CD:
                50% </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover cr"> CR:
                10% </div>
            <div
                class="badge badge-pill pl-1 pb-1 pr-1 pt-1 d-inline-flex align-items-center ml-1 mt-1 hover res"> RES:
                5% </div>
        </div>
        <div class="card-icons col-12"><img
                src="assets/img/titan/boss_titan_g.png" alt="Wood titan" class="d-inline w-100"></div>
        <div class="card-skill col-12">
            <div class="mslcard">
                <div class="d-inline mt-1"><img
                        src="assets/img/skill/Taunt.png" alt="Seal" width="40" class="ml-2 mr-2 mt-1 d-inline">
                    <h6 class="d-inline"> Taunt <span
                            class="badge badge-danger badge-pill">Grupo (4)</span></h6>
                    <div class="mslcard-focus skill"><b>Probabilidad del 80%
                            de aplicar "Taunt" por 2 turnos.</b></div>
                </div>
            </div>
            <div class="mslcard">
                <div class="d-inline mt-1"><img
                        src="assets/img/skill/Buff Breaker.png" alt="Attack Down" width="40"
                        class="ml-2 mr-2 mt-1 d-inline">
                    <h6 class="d-inline"> Buff Breaker <span
                            class="badge badge-danger badge-pill">Linea (8)</span></h6>
                    <div class="mslcard-focus skill"><b>Elimina los buffs a
                            los astros dañados.</b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8">
        <nav>
            <div id="nav-tab" role="tablist" class="nav nav-tabs"><a
                    id="wood-atk-tab" data-toggle="tab" href="#wood-atk" role="tab" aria-controls="wood-atk"
                    aria-selected="true" class="nav-item nav-link active">Atacantes</a><a
                    id="wood-heal-tab" data-toggle="tab" href="#wood-heal" role="tab" aria-controls="wood-heal"
                    aria-selected="false" class="nav-item nav-link">Curadores</a><a
                    id="wood-debuff-tab" data-toggle="tab" href="#wood-debuff" role="tab" aria-controls="wood-debuff"
                    aria-selected="false" class="nav-item nav-link">Debuffers</a><a
                    id="wood-lineup-tab" data-toggle="tab" href="#wood-lineup" role="tab" aria-controls="wood-lineup"
                    aria-selected="false" class="nav-item nav-link">Ejemplos</a></div>
        </nav>
        <div id="nav-tabContent" class="tab-content">
            <section id="wood-atk" role="tabpanel" aria-labelledby="wood-atk-tab"
                class="tab-pane fade show active">
                <h4 class="mr-1 ml-1">Atacantes</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Beth/BethR3.png" alt="Beth" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Beth</h6><img
                            src="assets/img/skill/Predator.png" alt="Predator" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Predator.png" alt="Predator" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/BethR" routerlink="/astroguide/BethR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: ATK/ATK/TC | ATK/HP/TC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Mowgli/MowgliR3v.png" alt="Mowgli" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mowgli</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Predator.png" alt="Predator" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MowgliR" routerlink="/astroguide/MowgliR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: ATK/ATK/TC | ATK/HP/TC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Fennec/FennecR3v.png" alt="Fennec" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Fennec</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/FennecR" routerlink="/astroguide/FennecR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: ATK/ATK/TC | ATK/HP/TC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Vampire/VampireR3.png" alt="Vampire" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Vampire</h6><img
                            src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VampireR" routerlink="/astroguide/VampireR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Succubus/SuccubusR5v.png" alt="Succubus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Succubus</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/HP Siphon.png" alt="HP Siphon" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SuccubusR" routerlink="/astroguide/SuccubusR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Leo/LeoR5v.png" alt="Leo" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Leo</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/LeoR" routerlink="/astroguide/LeoR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Verde/VerdeR3v.png" alt="Verde" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Verde</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Blind.png" alt="Blind" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VerdeR" routerlink="/astroguide/VerdeR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Incubus/IncubusR3v.png" alt="Incubus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Incubus</h6><img
                            src="assets/img/skill/leader/Protector's Shield.png" alt="Protector's Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/IncubusR" routerlink="/astroguide/IncubusR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Zhu Bajie/Zhu BajieR3v.png" alt="Zhu Bajie" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Zhu Bajie</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Predator.png" alt="Predator" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Predator.png" alt="Predator" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Zhu%20BajieR" routerlink="/astroguide/Zhu BajieR"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Sha Wujing/Sha WujingR3v.png" alt="Sha Wujing" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sha Wujing</h6><img
                            src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Sha%20WujingR" routerlink="/astroguide/Sha WujingR"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Poseidon/PoseidonR3v.png" alt="Poseidon" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Poseidon</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Weaken.png" alt="Weaken" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PoseidonR" routerlink="/astroguide/PoseidonR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Sun Wukong/Sun WukongR3v.png" alt="Sun Wukong" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sun Wukong</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Sun%20WukongR" routerlink="/astroguide/Sun WukongR"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Shinobi/ShinobiR3v.png" alt="Shinobi" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Shinobi</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ShinobiR" routerlink="/astroguide/ShinobiR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1"> Gems: ATK/ATK/HP | ATK/HP/TC | ATK/ATK/TC |
                                ATK/ATK/DC </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="wood-heal" role="tabpanel" aria-labelledby="wood-heal-tab"
                class="tab-pane fade">
                <h4 class="mr-1 ml-1">Curadores</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cotteen/CotteenR3.png" alt="Cotteen" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cotteen</h6><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CotteenR" routerlink="/astroguide/CotteenR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Mildeu/MildeuR3.png" alt="Mildeu" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Mildeu</h6><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/MildeuR" routerlink="/astroguide/MildeuR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Lumo/LumoR3.png" alt="Lumo" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Lumo</h6><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Recovery Up.png" alt="Recovery Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/LumoR" routerlink="/astroguide/LumoR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Seiren/SeirenR3v.png" alt="Seiren" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Seiren</h6><img
                            src="assets/img/skill/leader/Protector's Shield.png" alt="Protector's Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Resilience.png" alt="Resilience" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SeirenR" routerlink="/astroguide/SeirenR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cherry/CherryR3v.png" alt="Cherry" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cherry</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CherryR" routerlink="/astroguide/CherryR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Grabag/GrabagR3.png" alt="Grabag" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Grabag</h6><img
                            src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Vigor.png" alt="Vigor" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/GrabagR" routerlink="/astroguide/GrabagR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Hana/HanaR3.png" alt="Hana" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Hana</h6><img
                            src="assets/img/skill/Sleep.png" alt="Sleep" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/HanaR" routerlink="/astroguide/HanaR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cura/CuraR3v.png" alt="Cura" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cura</h6><img
                            src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Shield.png" alt="Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CuraR" routerlink="/astroguide/CuraR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Pixie/PixieR3v.png" alt="Pixie" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Pixie</h6><img
                            src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PixieR" routerlink="/astroguide/PixieR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC | HP/REC/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cupid/CupidR3v.png" alt="Cupid" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cupid</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CupidR" routerlink="/astroguide/CupidR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Bast/BastR3v.png" alt="Bast" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Bast</h6><img
                            src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Battle Rush.png" alt="Battle Rush" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Dominance.png" alt="Dominance" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/BastR" routerlink="/astroguide/BastR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cherry/CherryD3v.png" alt="Cherry" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cherry</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CherryD" routerlink="/astroguide/CherryD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Venus/VenusD3.png" alt="Venus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Venus</h6><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/VenusD" routerlink="/astroguide/VenusD" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Baby Shark/Baby SharkW3v.png" alt="Baby Shark" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Baby Shark</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Baby%20SharkW" routerlink="/astroguide/Baby SharkW"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Cherry/CherryW3v.png" alt="Cherry" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Cherry</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Sap.png" alt="Sap" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CherryW" routerlink="/astroguide/CherryW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Pixie/PixieW3v.png" alt="Pixie" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Pixie</h6><img
                            src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Vigor.png" alt="Vigor" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PixieW" routerlink="/astroguide/PixieW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Grabag/GrabagW3v.png" alt="Grabag" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Grabag</h6><img
                            src="assets/img/skill/leader/Surging Vitality.png" alt="Surging Vitality" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/GrabagW" routerlink="/astroguide/GrabagW" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/DEF/REC</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="wood-debuff" role="tabpanel" aria-labelledby="wood-debuff-tab"
                class="tab-pane fade">
                <h4 class="mr-1 ml-1">Debuffers</h4>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Squirrus/SquirrusR3v.png" alt="Squirrus" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Squirrus</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SquirrusR" routerlink="/astroguide/SquirrusR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Candling/CandlingR3.png" alt="Candling" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Candling</h6><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/CandlingR" routerlink="/astroguide/CandlingR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Otari/OtariR3v.png" alt="Otari" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Otari</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Blind.png" alt="Blind" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/OtariR" routerlink="/astroguide/OtariR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Phibian/PhibianR3v.png" alt="Phibian" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Phibian</h6><img
                            src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Blind.png" alt="Blind" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/PhibianR" routerlink="/astroguide/PhibianR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Yuki/YukiR3v.png" alt="Yuki" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Yuki</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/YukiR" routerlink="/astroguide/YukiR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Yaksha/YakshaR3v.png" alt="Yaksha" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Yaksha</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Blind.png" alt="Blind" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/YakshaR" routerlink="/astroguide/YakshaR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Boltwing/BoltwingR3v.png" alt="Boltwing" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Boltwing</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/BoltwingR" routerlink="/astroguide/BoltwingR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Nezha/NezhaR3v.png" alt="Nezha" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Nezha</h6><img
                            src="assets/img/skill/leader/Protector's Shield.png" alt="Protector's Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/NezhaR" routerlink="/astroguide/NezhaR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Thor/ThorR3v.png" alt="Thor" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Thor</h6><img
                            src="assets/img/skill/leader/Protector's Shield.png" alt="Protector's Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/ThorR" routerlink="/astroguide/ThorR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Odin/OdinR3v.png" alt="Odin" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Odin</h6><img
                            src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/OdinR" routerlink="/astroguide/OdinR" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Sanzang/SanzangG3v.png" alt="Sanzang" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sanzang</h6><img
                            src="assets/img/skill/leader/Protector's Shield.png" alt="Protector's Shield" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/SanzangG" routerlink="/astroguide/SanzangG" role="button"
                            target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1"><img
                            src="assets/img/astro/Sun Wukong/Sun WukongG3v.png" alt="Sun Wukong" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded-circle">
                        <h6 class="d-inline">Sun Wukong</h6><img
                            src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><img
                            src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                            class="ml-1 mr-1 mt-1 d-inline rounded"><a
                            href="/MSL-Data-Nest/astroguide/Sun%20WukongG" routerlink="/astroguide/Sun WukongG"
                            role="button" target="_blank" class="btn btn-info btn-sm">Detalles del astro</a>
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Gems: HP/HP/DEF | HP/DEF/DEF</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="wood-lineup" role="tabpanel" aria-labelledby="wood-lineup-tab"
                class="tab-pane fade">
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img
                            src="assets/img/titan/TG01.png" alt="TG01" class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: 6M ?</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img
                            src="assets/img/titan/TG02.png" alt="TG02" class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: 20M ?</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img
                            src="assets/img/titan/TG03.png" alt="TG03" class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: 20M ?</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img
                            src="assets/img/titan/TG05.png" alt="TG05" class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: 20M ?</p>
                        </div>
                    </div>
                </div>
                <div class="mslcard">
                    <div class="d-inline mt-1 mb-1 mr-1 ml-1"><img
                            src="assets/img/titan/TG04.png" alt="TG04" class="m-1 rounded img-fluid">
                        <div class="mslcard-focus">
                            <p class="mr-1 ml-1">Daño: &gt;40M </p><a
                                href="https://youtu.be/PCjblzrA1MQ" role="button" target="_blank"
                                class="btn btn-info btn-sm">Video</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>