// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MSL-Data-Nest-primary: mat-palette($mat-indigo);
$MSL-Data-Nest-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MSL-Data-Nest-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MSL-Data-Nest-theme: mat-light-theme((color: (primary: $MSL-Data-Nest-primary,
      accent: $MSL-Data-Nest-accent,
      warn: $MSL-Data-Nest-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($MSL-Data-Nest-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  --msl-d0: #261612;
  --msl-d1: #34201b;
  --msl-d2: #3a2923;
  --msl-d3: #663a2c;
  --msl-d4: #a77648; // background
  --msl-d5: #c4996d; //#d9ac7b
  --msl-d6: #d0a781;

  --msl-l1: #f5f0eb; //text2
  --msl-l2: #ead8c2; //bg-dialog
  --msl-l3: #d9b88e; //text
  --msl-l4: #efc492; //
  --msl-l5: #d9b88e; //
  --msl-l6: #f1c592; //
  --msl-l7: #d9ac7b; // bg-article

  --msl-c1: #fed328; //text accent
  --msl-c2: #0c827e; //btn

  --clr-light: var(--msl-l1);
  --clr-dark: var(--msl-d0);

  --background: var(--msl-d4);
  --foreground: var(--clr-light); //general text

  --bg-nav: #1A252D;
  --bg: #FBFBFE;
  --blue: #59B3F3;
  --grey: #A0A7AC;
  --white: #FFFFFF;
}

:host {
  font-family: Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.darkmode {
  --msl00: #000000;
  /* bg */
  --msl01: #121212;
  /* pri */
  --msl02: #212121;
  /* sec */
  --msl03: #303030;
  /* ter */
  --msl04: #424242;
  /* cuar */

  --clr-light: #fdffc4;
  --clr-dark: #fdffc4;

  --background: var(--msl00);
  --foreground: var(--clr-light);
}

.dark-mode-toggle {
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  color: var(--foreground);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
  //color: var(--foreground);
}

body {
  height: 100vh;
  align-items: center;
  justify-items: center;
  background-color: var(--background);
  color: var(--foreground);
  text-align: left;
}

main {
  display: flex;
  background-color: var(--background);
  color: var(--foreground);
  padding: 4rem 1.5rem 0rem 1.5rem;
  //max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  max-width: 100vw;
  margin: 0;
  padding: 0.75rem;
}

//mysh
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1020;
}

.sticky-top-2 {
  padding-top: 60;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1010;
}

.hp {
  background: #bf545a;
  color: var(--clr-light);
}

.atk {
  background: #4b87ac;
  color: var(--clr-light);
}

.def {
  background: #e88943;
  color: var(--clr-light);
}

.rec {
  background: #789b59;
  color: var(--clr-light);
}

.cd {
  background: #b0b0b0;
  color: var(--clr-light);
}

.cr {
  background: #8a58a9;
  color: var(--clr-light);
}

.res {
  background: #fbc500;
  color: var(--clr-light);
}

.responsive {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mslcard {
  //display: block!important;
  background: var(--msl-d2);
  color: var(--foreground);
  border-style: inset;
  border-color: var(--msl-l3);
  border-width: thin;
  //width: 100%;
  //overflow:hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-tap-highlight-color: transparent;
}

.mslcard,
.mslcard-focus,
.mslcard-focus-flex {
  border-radius: .5rem;
  margin: 0.25rem;
  padding: .25rem;
  min-height: 1rem;
}

.mslcard-title {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 0.25rem;
  border-bottom-width: .1rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .24);
}

.mslcard-title-icon {
  flex-shrink: 0;
  box-sizing: content-box;
}

.mslcard-title-text {
  width: 100%;
  padding: 0 0.25rem 0 0.25rem;
  display: inline-block;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mslcard-content {
  display: inline-block;
  padding: 0.25rem 0 0.25rem 0;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.mslcard-focus {
  background: var(--msl-l1); //or msl04
  color: var(--clr-dark);
  /*display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
}
.mslcard-focus-flex {
  background: var(--msl-l1); //or msl04
  color: var(--clr-dark);
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mslcard-footer {
  background-color: var(--msl-l1);
  color: var(--clr-dark);
  margin: 0.15rem -0.25rem -0.4rem -0.25rem;
  padding: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

// angular styles
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0rem;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card {
  border-radius: 0.25rem;
  border: 1px solid var(--msl-l4);
  background-color: var(--msl-c2);
  min-height: 2rem; //height: 40px;
  min-width: 3rem; //width: 200px;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.2rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  //line-height: 1.75rem;
}

.mslcard-content .card:not(:last-child) {
  margin-right: 0;
}

.mslcard-content .card:not(.highlight-card) {
  cursor: pointer;
}

.mslcard-content .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.mslcard-content .card:not(.highlight-card):hover .material-icons path {
  fill: var(--msl-c1);
}

a,
a:visited,
a:hover {
  color: var(--msl-c1); // #1976d2;
  text-decoration: none;
}

a:hover {
  color: var(--msl-l1);
}

.mat-tab-label-content {
  color: var(--msl-c1);
}

.mat-tab-header-pagination-chevron {
  border-color: var(--foreground);
}

.mat-tab-body-content {
  padding: 0.5rem;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, .12);
}

/* Responsive Styles */
@media screen and (max-width: 906px) {
  :host {
    font-size: 12px;
  }

  main {
    margin: 0rem 0rem 4rem 0rem;
    padding: 0;
  }
  article {
    padding: 0 0.2rem 0 0.2rem;
  }
  .mat-tab-body-content {
    padding: 0.5rem;
  }

  .card-container>*:not(.circle-link) {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 1rem;
    margin: 0.5rem 0rem;
  }

  .mslcard {
    margin: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .titan-card {
    display: block;
    //position: relative;
    margin-left: 0%;
    margin-right: 0%;
  }

  .card-column-1 {
    display: block;
    flex: 100%;
    flex-direction: row;
    overflow-y: auto;
  }

  .card-column-2 {
    display: block;
    flex: 100%;
    flex-direction: row;
    overflow-y: auto;
  }
}
/* Bootstrap*/
.badge {
  display: inline-block;
  padding: 3px 4px;
  margin-right: 0.25rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .badge {
    transition: none
  }
}

a.badge:focus,
a.badge:hover {
  text-decoration: none
}

.badge:empty {
  display: none
}

.btn .badge {
  position: relative;
  top: -1px
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem
}

.d-inline {
  display: inline !important
}

.d-inline-block {
  display: inline-block !important
}

.d-block {
  display: block !important
}

.d-table {
  display: table !important
}

.d-table-row {
  display: table-row !important
}

.d-table-cell {
  display: table-cell !important
}

.d-flex {
  display: flex !important
}

.d-inline-flex {
  display: inline-flex !important
}

.rounded {
  border-radius: .25rem !important
}

.rounded-circle {
  border-radius: 50% !important
}


// titan
.titan-card {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  //position: relative;
  //@at-root: auto;
  //width: auto;
  overflow: hidden;
}

.card-column-1 {
  display: flex;
  flex: 30%;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
}

.card-column-2 {
  display: flex;
  flex: 70%;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  background: var(--msl-l2) !important;
  color: var(--msl-d1) !important;
}
