<article>
  <!-- Resources -->
  <h2>Last data update</h2>
  <p>24/09/2020</p>

  <div class="mslcard">
    <div>
      <h3> English guides </h3>
    </div>
    <div class="card-container">
      <a class="card" rel="noopener"
        href="https://www.reddit.com/r/MSLGame/comments/9sp5yy/colossus_revisited_3_months_on/" target="_blank">
        <span>Colossus</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a class="card" rel="noopener"
        href="https://docs.google.com/document/u/1/d/e/2PACX-1vTvxE95b2Cv0Oz3zU143B-KMZ9iSOHXINW-NJNd5szJtz7O9FeLgcRc7DXmz75lIoOg8MhmSeXhnciL/pub"
        target="_blank">
        <span>Titan</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

    </div>
  </div>

  <div class="mslcard">
    <div>
      <h3> Guias en español </h3>
    </div>
    <div class="card-container">

      <a routerlink="/guias/titan" class="card" rel="noopener" href="/guias/titan">
        <span>Titan</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a routerlink="/guias/colossus" class="card disabled" rel="noopener" href="/guias/colossus">
        <span>(X) Coloso</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a routerlink="/guias" class="card disabled" rel="noopener" href="/guias">
        <span>(X) Guias por nivel</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </div>

  <div class="mslcard">
    <div>
      <h3> Tools / Herramientas </h3>
    </div>
    <div class="card-container">

      <a routerlink="/astroguide" class="card" rel="noopener" href="/astroguide">
        <span>Astroguide</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a routerlink="/fusion" class="card disabled" rel="noopener" href="/fusion">
        <span>(WIP) Fusion</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a routerlink="/equipment" class="card disabled" rel="noopener" href="/equipment">
        <span>(X) Equipment</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </div>

  <!-- to do-->
  <div class="mslcard">
    <div>
      <h3>To do</h3>
    </div>
    <div class="card-container">
      <li> Astroguide: search and filter table </li>
      <li> layout in astro details </li>
      <li> Titan page </li>
      <li> Fusion charts </li>
      <li> Equipment tools </li>
      <li> Colossus guide </li>
      <li> Stage of game guide </li>
      <li> Astromon books data </li>
    </div>
  </div>
</article>