<article>
  <!--
  <div class="mslcard">
    <div class="mslcard-title">
      <img src="assets/img/skill/Seal.png" alt="Seal" width="40" class="responsive mslcard-title-icon">
      <div class="mslcard-title-text">
        <h2> Seal <span class="badge badge-danger badge-pill">Grupo (4)</span></h2>
        <b>Probabilidad del 80% de aplicar sello por 2 turnos.</b>
      </div>
      <div class="badge"><b>rareza</b></div>

    </div>
    <div class="mslcard-content">
      <div class="mslcard-focus skill"><b>Content: Probabilidad del 80% de aplicar sello por 2 turnos.</b></div>
    </div>

    <div class="mslcard-footer">
      ffffff
    </div>
  </div>
  -->

  <!-- Resources -->
  <h2>Last data update</h2>
  <p>24/09/2020</p>

  <!-- to do-->
  <div class="mslcard">
    <div class="mslcard-title">

      <div class="mslcard-title-text">
        <h2> To do</h2>
        <b>I lost the original files so everything is broken.</b>
      </div>

    </div>
    <div class="mslcard-content">
      <div class="mslcard-focus">
        <li> Titan page UI </li>
        <li> Fusion charts </li>
        <li> Equipment tools </li>
        <li> Colossus guide </li>
        <li> Stage of game guide </li>
        <li> Astromon books data </li>
      </div>
    </div>
  </div>

  <div class="mslcard">
    <div class="mslcard-title">

      <div class="mslcard-title-text">
        <h2> English</h2>
        <b>--External links--</b>
      </div>

    </div>
    <div class="mslcard-content">
      <div class="mslcard-focus-flex">
        <a class="card" rel="noopener"
        href="https://www.reddit.com/r/MSLGame/comments/9sp5yy/colossus_revisited_3_months_on/" target="_blank">
        <span>Colossus</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a class="card" rel="noopener"
        href="https://docs.google.com/document/u/1/d/e/2PACX-1vTvxE95b2Cv0Oz3zU143B-KMZ9iSOHXINW-NJNd5szJtz7O9FeLgcRc7DXmz75lIoOg8MhmSeXhnciL/pub"
        target="_blank">
        <span>Titan</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
      </div>
    </div>
  </div>

  <div class="mslcard">
    <div class="mslcard-title">

      <div class="mslcard-title-text">
        <h2> Español</h2>
      </div>

    </div>
    <div class="mslcard-content">
      <div class="mslcard-focus-flex">
        <a routerlink="/guias/titan" class="card" rel="noopener" href="/guias/titan">
          <span>(WIP) Titan</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

        <a routerlink="/guias/colossus" class="card disabled" rel="noopener" href="/guias/colossus">
          <span>(WIP) Coloso</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

        <a routerlink="/guias" class="card disabled" rel="noopener" href="/guias">
          <span>(WIP) Guias por nivel</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="mslcard">
    <div class="mslcard-title">
      <div class="mslcard-title-text">
        <h2> Tools / Herramientas</h2>
      </div>
    </div>
    <div class="mslcard-content">
      <div class="mslcard-focus-flex">
        <a routerlink="/astroguide" class="card" rel="noopener" href="/astroguide">
          <span>Astroguide</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

        <a routerlink="/fusion" class="card disabled" rel="noopener" href="/fusion">
          <span>(WIP) Fusion</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>

        <a routerlink="/equipment" class="card disabled" rel="noopener" href="/equipment">
          <span>(WIP) Equipment</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>
      </div>
    </div>
  </div>

</article>
