<div class="titan-card">

  <div class="card-column-1">
    <div class="card-stats">
      <h1>Titan de Luz</h1>
      <div class="badge badge-pill d-inline-flex align-items-center hover hp"> HP:
        +3000000 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover atk"> ATK:
        1800 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover def"> DEF:
        1200 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover rec"> REC:
        20000 </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover cd"> CD:
        50% </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover cr"> CR:
        100% </div>
      <div class="badge badge-pill d-inline-flex align-items-center hover res"> RES:
        5% </div>
    </div>
    <div class="card-icons">
      <img src="assets/img/titan/boss_titan_w.png" alt="Water titan" class="d-inline responsive">
    </div>
    <div class="card-skill">
      <div class="mslcard">
        <div class="d-inline"><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
            class="d-inline responsive">
          <h3 class="d-inline"> Ataque menos <span class="badge hp badge-pill">Grupo (4)</span></h3>
          <div class="mslcard-focus skill"><b>Probabilidad del 80%
              de aplicar "Ataque menos"por 1 turno.</b></div>
        </div>
      </div>
      <div class="mslcard">
        <div class="d-inline"><img src="assets/img/skill/Blind.png" alt="Blind" width="40"
            class="d-inline responsive">
          <h3 class="d-inline"> Blind <span class="badge hp badge-pill">Linea (8)</span></h3>
          <div class="mslcard-focus skill"><b>Probabilidad del 60%
              de aplicar "Blind"2 daños 2 turnos.</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-column-2">

    <mat-accordion class="example-headers-align" multi>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Atacantes
              </mat-panel-title>
          </mat-expansion-panel-header>

          <section id="luz-atk" role="tabpanel" aria-labelledby="luz-atk-tab">
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Indra/IndraD3v.png" alt="Indra" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Indra</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                  alt="Courageous Strike" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/IndraD"
                  routerlink="/astroguide/IndraD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Sha Wujing/Sha WujingD3v.png" alt="Sha Wujing"
                  width="40" class="d-inline responsive">
                <h3 class="d-inline">Sha Wujing</h3><img src="assets/img/skill/leader/Critical Boost.png"
                  alt="Critical Boost" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Weaken.png" alt="Weaken" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/Sha%20WujingD"
                  routerlink="/astroguide/Sha WujingD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Thor/ThorD3v.png" alt="Thor" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Thor</h3><img src="assets/img/skill/leader/Protector's Shield.png"
                  alt="Protector's Shield" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                  alt="Courageous Strike" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/ThorD" routerlink="/astroguide/ThorD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Chloe/ChloeD3v.png" alt="Chloe" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Chloe</h3><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Courageous Strike.png"
                  alt="Courageous Strike" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/ChloeD" routerlink="/astroguide/ChloeD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Shinobi/ShinobiD3v.png" alt="Shinobi" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Shinobi</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/SP Siphon.png"
                  alt="SP Siphon" width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png"
                  alt="Hunter" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/ShinobiD" routerlink="/astroguide/ShinobiD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Misha/MishaD3v.png" alt="Misha" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Misha</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Vengeance.png"
                  alt="Vengeance" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Vengeance.png" alt="Vengeance" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/MishaD" routerlink="/astroguide/MishaD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Rudolph/RudolphD2v.png" alt="Rudolph" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Rudolph</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                  alt="Attack Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Hunter.png" alt="Hunter" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/RudolphD" routerlink="/astroguide/RudolphD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Colte/ColteD3v.png" alt="Colte" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Colte</h3><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png" alt="Predator"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/ColteD"
                  routerlink="/astroguide/ColteD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Gatito/GatitoD3.png" alt="Gatito" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Gatito</h3><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GatitoD"
                  routerlink="/astroguide/GatitoD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Sura/SuraD3v.png" alt="Sura" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Sura</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/HP Siphon.png"
                  alt="HP Siphon" width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png"
                  alt="Hunter" width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/SuraD"
                  routerlink="/astroguide/SuraD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Mona/MonaD3v.png" alt="Mona" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Mona</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Morale Boost.png"
                  alt="Morale Boost" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Hunter.png" alt="Hunter" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/MonaD" routerlink="/astroguide/MonaD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Mino/MinoD3.png" alt="Mino" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Mino</h3><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MinoD"
                  routerlink="/astroguide/MinoD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Mowgli/MowgliD3.png" alt="Mowgli" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Mowgli</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Hunter.png" alt="Hunter"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Predator.png" alt="Predator"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MowgliD"
                  routerlink="/astroguide/MowgliD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p> Gems: ATK/HP/TC | ATK/ATK/TC | ATK/ATK/DC </p>
                </div>
              </div>
            </div>
          </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Curadores
              </mat-panel-title>

          </mat-expansion-panel-header>

          <section id="luz-heal" role="tabpanel" aria-labelledby="luz-heal-tab">
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cotteen/CotteenR3.png" alt="Cotteen" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cotteen</h3><img src="assets/img/skill/Sap.png" alt="Sap" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/CotteenR"
                  routerlink="/astroguide/CotteenR" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Mildeu/MildeuR3.png" alt="Mildeu" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Mildeu</h3><img src="assets/img/skill/Sap.png" alt="Sap" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MildeuR"
                  routerlink="/astroguide/MildeuR" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Grabag/GrabagW3v.png" alt="Grabag" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Grabag</h3><img src="assets/img/skill/leader/Surging Vitality.png"
                  alt="Surging Vitality" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/GrabagW"
                  routerlink="/astroguide/GrabagW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Minicat/MinicatG3.png" alt="Minicat" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Minicat</h3><img src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Up.png"
                  alt="Attack Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/MinicatG" routerlink="/astroguide/MinicatG" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Bast/BastG3v.png" alt="Bast" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Bast</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png"
                  alt="Defense Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/BastG" routerlink="/astroguide/BastG" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cherry/CherryD3v.png" alt="Cherry" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cherry</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Down.png"
                  alt="Defense Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/CherryD" routerlink="/astroguide/CherryD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Venus/VenusD3.png" alt="Venus" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Venus</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Up.png" alt="Attack Up"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/VenusD"
                  routerlink="/astroguide/VenusD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Baby Shark/Baby SharkW3v.png" alt="Baby Shark"
                  width="40" class="d-inline responsive">
                <h3 class="d-inline">Baby Shark</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                  alt="Attack Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/Baby%20SharkW" routerlink="/astroguide/Baby SharkW" role="button"
                  target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cupid/CupidW3v.png" alt="Cupid" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cupid</h3><img src="assets/img/skill/leader/Grace of Life.png" alt="Grace of Life"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                  alt="Attack Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Attack Up.png" alt="Attack Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/CupidW" routerlink="/astroguide/CupidW" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Pixie/PixieR3v.png" alt="Pixie" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Pixie</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Adrenaline.png"
                  alt="Adrenaline" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Defense Up.png" alt="Defense Up" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/PixieR"
                  routerlink="/astroguide/PixieR" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC | HP/REC/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Hana/HanaG3.png" alt="Hana" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Hana</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Defense Up.png" alt="Defense Up"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/HanaG"
                  routerlink="/astroguide/HanaG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Bast/BastB3v.png" alt="Bast" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Bast</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Weaken.png" alt="Weaken"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Up.png"
                  alt="Defense Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/BastB" routerlink="/astroguide/BastB" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cherry/CherryW3v.png" alt="Cherry" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cherry</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Sap.png" alt="Sap"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Defense Up.png"
                  alt="Defense Up" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/CherryW" routerlink="/astroguide/CherryW" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/DEF/REC</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Mildeu/MildeuD3.png" alt="Mildeu" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Mildeu</h3><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Shield.png" alt="Shield" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/MildeuD"
                  routerlink="/astroguide/MildeuD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cura/CuraR3.png" alt="Cura" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cura</h3><img src="assets/img/skill/Morale Boost.png" alt="Morale Boost" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Shield.png" alt="Shield" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/CuraR"
                  routerlink="/astroguide/CuraR" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Venus/VenusW3.png" alt="Venus" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Venus</h3><img src="assets/img/skill/Adrenaline.png" alt="Adrenaline" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Shield.png" alt="Shield" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/VenusW"
                  routerlink="/astroguide/VenusW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/HP</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Cupid/CupidD3v.png" alt="Cupid" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Cupid</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Aggression (HP).png"
                  alt="Aggression (HP)" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Shield.png" alt="Shield" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/CupidD" routerlink="/astroguide/CupidD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/HP</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Hana/HanaW3.png" alt="Hana" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Hana</h3><img src="assets/img/skill/Aggression (HP).png" alt="Aggression (HP)"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Shield.png" alt="Shield"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/HanaW"
                  routerlink="/astroguide/HanaW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/HP</p>
                </div>
              </div>
            </div>
          </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Debuffers
              </mat-panel-title>

          </mat-expansion-panel-header>

          <section id="luz-debuff" role="tabpanel" aria-labelledby="luz-debuff-tab">
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Otari/OtariD3v.png" alt="Otari" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Otari</h3><img src="assets/img/skill/leader/Deathblow.png" alt="Deathblow" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Blind.png" alt="Blind"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/OtariD"
                  routerlink="/astroguide/OtariD" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Radis/RadisG3v.png" alt="Radis" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Radis</h3><img src="assets/img/skill/Attack Down.png" alt="Attack Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Attack Down.png" alt="Attack Down"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/RadisG"
                  routerlink="/astroguide/RadisG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Indra/IndraB3v.png" alt="Indra" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Indra</h3><img src="assets/img/skill/leader/Fighting Spirit.png" alt="Fighting Spirit"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Attack Down.png"
                  alt="Attack Down" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Courageous Strike.png" alt="Courageous Strike" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/IndraB"
                  routerlink="/astroguide/IndraB" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Phibian/PhibianG3v.png" alt="Phibian" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Phibian</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                  alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/PhibianG"
                  routerlink="/astroguide/PhibianG" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Victoria/VictoriaB3v.png" alt="Victoria" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Victoria</h3><img src="assets/img/skill/leader/Fighting Spirit.png"
                  alt="Fighting Spirit" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/VictoriaB"
                  routerlink="/astroguide/VictoriaB" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Seedler/SeedlerB3.png" alt="Seedler" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Seedler</h3><img src="assets/img/skill/Defense Down.png" alt="Defense Down" width="40"
                  class="d-inline responsive"><img src="assets/img/skill/Defense Down.png" alt="Defense Down"
                  width="40" class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/SeedlerB"
                  routerlink="/astroguide/SeedlerB" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Sherlock/SherlockW3.png" alt="Sherlock" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Sherlock</h3><img src="assets/img/skill/leader/Critical Boost.png" alt="Critical Boost"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Expose Weakness.png"
                  alt="Expose Weakness" width="40" class="d-inline responsive"><img
                  src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness" width="40"
                  class="d-inline responsive"><a href="/MSL-Data-Nest/astroguide/SherlockW"
                  routerlink="/astroguide/SherlockW" role="button" target="_blank" class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/astro/Bulbie/BulbieD3.png" alt="Bulbie" width="40"
                  class="d-inline responsive">
                <h3 class="d-inline">Bulbie</h3><img src="assets/img/skill/Expose Weakness.png" alt="Expose Weakness"
                  width="40" class="d-inline responsive"><img src="assets/img/skill/Expose Weakness.png"
                  alt="Expose Weakness" width="40" class="d-inline responsive"><a
                  href="/MSL-Data-Nest/astroguide/BulbieD" routerlink="/astroguide/BulbieD" role="button" target="_blank"
                  class="badge atk badge-pill">Detalles</a>
                <div class="mslcard-focus">
                  <p>Gems: HP/HP/DEF | HP/DEF/DEF</p>
                </div>
              </div>
            </div>
          </section>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Equipos
              </mat-panel-title>

          </mat-expansion-panel-header>

          <section id="luz-lineup" role="tabpanel" aria-labelledby="luz-lineup-tab">
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/titan/TW01.png" alt="TW01"
                  class="responsive">
                <div class="mslcard-focus">
                  <p>Daño: ?M</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/titan/TW02.png" alt="TW02"
                  class="responsive">
                <div class="mslcard-focus">
                  <p>Daño: ?M</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/titan/TW04.png" alt="TW04"
                  class="responsive">
                <div class="mslcard-focus">
                  <p>Daño: ?M</p>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/titan/TW03.png" alt="TW03"
                  class="responsive">
                <div class="mslcard-focus">
                  <p>Daño: +15M</p><a href="https://youtu.be/NwkU6AtVQqI?t=6673" role="button"
                    target="_blank" class="badge atk badge-pill">Video</a>
                </div>
              </div>
            </div>
            <div class="mslcard">
              <div class="d-inline"><img src="assets/img/titan/TW05.png" alt="TW05"
                  class="responsive">
                <div class="mslcard-focus">
                  <p>Daño: ?M</p>
                </div>
              </div>
            </div>
          </section>
      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>
